[Unit]
Description=Swaynoti Notification Daemon
Documentation=https://github.com/swaynoti/swaynoti
PartOf=graphical-session.target
After=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
Type=simple
ExecStart=/usr/bin/swaynoti
Restart=on-failure
RestartSec=5

# Environment
Environment=RUST_LOG=info

[Install]
WantedBy=graphical-session.target
